<!DOCTYPE html>
<html>

<head>
    <title>Walmart Labs Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/newcss.css" />
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!--sidebar navigation starts-->
            <div class="col-sm-3 col-md-2 sidebar">
                <!--                sidebar navigation image-->
                <div>
                    <img src="images/com-admin.png" alt="Admin Logo" class="com-admin-logo">
                </div>
                <!--                sidebar navigation links-->
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Records <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#">Permissions</a>
                    </li>
                    <li><a href="#">Analytics</a>
                    </li>
                    <li><a href="#">Export</a>
                    </li>
                </ul>
            </div>
            <!--sidebar navigation ends-->

            <!--main content-->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!--angularjs initialized-->
                <div ng-app="" ng-init="emp_data=[ 
                                        {name:'David', age:'24', salary:'900', sex:'Male', phone:'13468529', country:'France'},
                                        {name:'John', age:'44', salary:'1400', sex:'Male', phone:'88774456', country:'USA'},
                                        {name:'Simon', age:'27', salary:'950', sex:'Male', phone:'11233689', country:'Norway'},
                                        {name:'Liza', age:'28', salary:'1200', sex:'Female', phone:'88564664', country:'Canada'},
                                        {name:'Scarlet', age:'22', salary:'600', sex:'Female', phone:'12459876', country:'Colombia'},
                                        {name:'Paul', age:'30', salary:'1500', sex:'Male', phone:'45612397', country:'USA'},
                                        {name:'Jennifer',age:'24',salary:'1100',sex:'Female', phone:'13567895', country:'USA'},
                                        {name:'Kimi', age:'21', salary:'1000', sex:'Female', phone:'55646466', country:'USA'},
                                        {name:'Roger',age:'25',salary:'750',sex:'Male', phone:'45677789', country:'Canada'},
                                        {name:'Robin', age:'20', salary:'400', sex:'Male', phone:'45622122', country:'South Africa'},
                                        {name:'James', age:'35', salary:'1400', sex:'Male', phone:'99995666', country:'Australia'} 
                                        ]">

                    <!--main content logo-->
                    <div class="default-margin">
                        <img src="images/com.png" alt="Company Logo" class="com-logo">
                    </div>
                    <!--main content search-->
                    <div class="default-margin">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <h2 class="main-header">Current Records</h2>
                                </div>
                                <div class="form-group col-sm-3 col-md-3">
                                    <label class="sr-only">Search record</label>
                                    <input type="text" class="form-control" size="26" placeholder="Search record" ng-model="search">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--main content table-->
                    <table class="table table-hover table-bordered default-margin">
                        <thead>
                            <th>
                                <div class="table-heading">
                                    Name
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='name'"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                                    <a href="#" ng-click="sort='-name'"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                                </div>
                            </th>
                            <th>
                                <div class="table-heading">
                                    Age
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='age'"><span class="glyphicon glyphicon-sort-by-order"></span></a>
                                    <a href="#" ng-click="sort='-age'"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                                </div>
                            </th>
                            <th>
                                <div class="table-heading">
                                    Salary
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='salary'"><span class="glyphicon glyphicon-sort-by-order"></span></a>
                                    <a href="#" ng-click="sort='-salary'"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                                </div>
                            </th>
                            <th>
                                <div class="table-heading">
                                    Sex
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='sex'"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                                    <a href="#" ng-click="sort='-sex'"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                                </div>
                            </th>
                            <th>
                                <div class="table-heading">
                                    Phone
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='phone'"><span class="glyphicon glyphicon-sort-by-order"></span></a>
                                    <a href="#" ng-click="sort='-phone'"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                                </div>
                            </th>
                            <th>
                                <div class="table-heading">
                                    Country
                                </div>
                                <div class="table-icon">
                                    <a href="#" ng-click="sort='country'"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                                    <a href="#" ng-click="sort='-country'"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                                </div>
                            </th>
                        </thead>
                        <tbody ng-cloak class="ng-cloak">
                            <tr ng-repeat="x in emp_data|filter:search|orderBy:sort">
                                <td>{{x.name}}</td>
                                <td>{{x.age}}</td>
                                <td>{{x.salary}}</td>
                                <td>{{x.sex}}</td>
                                <td>{{x.phone}}</td>
                                <td>{{x.country}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="js/angular.js"></script>
</body>

</html>